<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <title>GeniusApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type='text/javascript'>
      window.geniusLogo = " <%= image_url('2.png') %>";
      window.geniusBabyLogo = " <%= image_url('3.png') %>";
      window.userLogo = '<%= image_url('4.png') %>';
      window.albumBackground = '<%= image_url('5.jpg') %>';
      window.albumCover = '<%= image_url('6.jpg') %>';
      window.pageTemp = '<%= image_url('7.png') %>';
    </script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
